# SQLAlchemy Joins

## Setup

In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [2]:
engine = create_engine("sqlite:///../Resources/mammal_masses.sqlite", echo=True)

In [7]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()

2018-07-31 21:04:52,579 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-31 21:04:52,580 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,581 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ea")
2018-07-31 21:04:52,582 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,584 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ea' AND type = 'table'
2018-07-31 21:04:52,584 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,585 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("ea")
2018-07-31 21:04:52,586 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,586 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ea' AND type = 'table'
2018-07-31 21:04:52,587 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,588 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ea")
2018-07-31 21:04:52,588 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,589 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("ea")
2018-07-31 21:04:52,590 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,591 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'ea' AND type = 'table'
2018-07-31 21:04:52,592 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,593 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("na")
2018-07-31 21:04:52,593 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,595 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'na' AND type = 'table'
2018-07-31 21:04:52,596 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,598 INFO sqlalchemy.engine.base.Engine PRAGMA foreign_key_list("na")
2018-07-31 21:04:52,599 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,601 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'na' AND type = 'table'
2018-07-31 21:04:52,601 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,602 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("na")
2018-07-31 21:04:52,603 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,604 INFO sqlalchemy.engine.base.Engine PRAGMA index_list("na")
2018-07-31 21:04:52,605 INFO sqlalchemy.engine.base.Engine ()
2018-07-31 21:04:52,606 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = 'na' AND type = 'table'
2018-07-31 21:04:52,607 INFO sqlalchemy.engine.base.Engine ()

['ea', 'na']

In [9]:
# Map Europe class
EA = Base.classes.ea

sqlalchemy.ext.automap.ea

In [10]:
# Map North American class
NA = Base.classes.na

In [12]:
# create a session
session = Session(engine)
session

## Filtering Review

Filters are the "WHERE" clause for your select statement.

In [20]:
# filter North American mammals whose genus is "Antilocapra"
# query, loop over and print out animals.
mammals = session.query(NA).filter(NA.genus == 'Antilocapra').all()
for mammal in mammals:
    print("Family: {0}, Genus: {1}".format(mammal.family, mammal.genus))

2018-07-31 21:12:54,459 INFO sqlalchemy.engine.base.Engine SELECT na.id AS na_id, na.record_id AS na_record_id, na.continent AS na_continent, na.status AS na_status, na.sporder AS na_sporder, na.family AS na_family, na.genus AS na_genus, na.species AS na_species, na.log_mass_g AS na_log_mass_g, na.comb_mass_g AS na_comb_mass_g, na.reference AS na_reference
FROM na
WHERE na.genus = ?
2018-07-31 21:12:54,460 INFO sqlalchemy.engine.base.Engine ('Antilocapra',)
Family: Antilocapridae, Genus: Antilocapra

In [14]:
mammals

## Joins

A SQL join combines columns from one or more tables in a relational database. 

It creates a set that can be saved as a table or used as it is. 

A JOIN is a means for combining columns from one (self-table) or more tables by using values common to each.

In [21]:
inspector = inspect(engine)
inspector.get_table_names()

2018-07-31 21:53:12,182 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2018-07-31 21:53:12,183 INFO sqlalchemy.engine.base.Engine ()

['ea', 'na']

In [22]:
# Get a list of column names and types
columns = inspector.get_columns('ea')
for c in columns:
    print(c['name'], c["type"])

2018-07-31 21:53:31,134 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("ea")
2018-07-31 21:53:31,135 INFO sqlalchemy.engine.base.Engine ()
id INTEGER
record_id INTEGER
continent TEXT
status TEXT
sporder TEXT
family TEXT
genus TEXT
species TEXT
log_mass_g FLOAT
comb_mass_g FLOAT
reference TEXT

In [23]:
session.query(EA.sporder, NA.sporder).limit(100).all()

2018-07-31 21:54:09,201 INFO sqlalchemy.engine.base.Engine SELECT ea.sporder AS ea_sporder, na.sporder AS na_sporder
FROM ea, na
 LIMIT ? OFFSET ?
2018-07-31 21:54:09,202 INFO sqlalchemy.engine.base.Engine (100, 0)

[('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Artiodactyla'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora'),
 ('Artiodactyla', 'Carnivora')]

In [24]:
same_sporder = session.query(EA, NA).filter(EA.sporder == NA.sporder).limit(10).all()


for record in same_sporder:
    (ea, na) = record
    print(ea.sporder)
    print(na.sporder)

2018-07-31 21:54:55,384 INFO sqlalchemy.engine.base.Engine SELECT ea.id AS ea_id, ea.record_id AS ea_record_id, ea.continent AS ea_continent, ea.status AS ea_status, ea.sporder AS ea_sporder, ea.family AS ea_family, ea.genus AS ea_genus, ea.species AS ea_species, ea.log_mass_g AS ea_log_mass_g, ea.comb_mass_g AS ea_comb_mass_g, ea.reference AS ea_reference, na.id AS na_id, na.record_id AS na_record_id, na.continent AS na_continent, na.status AS na_status, na.sporder AS na_sporder, na.family AS na_family, na.genus AS na_genus, na.species AS na_species, na.log_mass_g AS na_log_mass_g, na.comb_mass_g AS na_comb_mass_g, na.reference AS na_reference
FROM ea, na
WHERE ea.sporder = na.sporder
 LIMIT ? OFFSET ?
2018-07-31 21:54:55,385 INFO sqlalchemy.engine.base.Engine (10, 0)
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla
Artiodactyla

In [25]:
# Return all animals from EA and NA belonging to the same sporder.
# This JOINs the data in the two tables together into a single dataset (here in the form of a tuple).
# Note: We are going to limit the results to 10 for printing
sel = [EA.family, EA.genus, EA.species, NA.family, NA.genus, NA.species]
same_sporder = session.query(*sel).filter(EA.sporder == NA.sporder).limit(10).all()

for record in same_sporder:
    (ea_fam, ea_gen, ea_spec, na_fam, na_gen, na_spec) = record
    print(
        f"The European animal '{ea_fam} {ea_gen} {ea_spec}'"
        f"belongs to the same sporder as the North American animal '{na_fam} {na_gen} {na_spec}'.")

2018-07-31 21:56:08,052 INFO sqlalchemy.engine.base.Engine SELECT ea.family AS ea_family, ea.genus AS ea_genus, ea.species AS ea_species, na.family AS na_family, na.genus AS na_genus, na.species AS na_species
FROM ea, na
WHERE ea.sporder = na.sporder
 LIMIT ? OFFSET ?
2018-07-31 21:56:08,053 INFO sqlalchemy.engine.base.Engine (10, 0)
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Antilocapridae Antilocapra americana'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Antilocapridae Capromeryx mexicana'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Antilocapridae Capromeryx minor'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Antilocapridae Stockoceros conklingi'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Antilocapridae Stockoceros onusrosagris'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Antilocapridae Tetrameryx shuleri'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Bovidae Bison bison'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Bovidae Bison latifrons'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Bovidae Bison priscus'.
The European animal 'Bovidae Antilope cervicapra'belongs to the same sporder as the North American animal 'Bovidae Bootherium bombifrons'.